*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    &:hover{
        @extend a;
    }
    &:focus{
        @extend a;
    }

}

button{
    border: none;
    outline: none;
    &:hover{
        @extend button;
    }
}
.container{
    @media(min-width: 1600px) {
        max-width: 1440px;
    }
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.section{
    padding: 90px 0px;
    // text-align: center;
}
.section_title{
    text-align: center;
    padding-bottom: 26px;
    h2{
        font-size: 48px;
        line-height: 52px;
        color: #02918c;
        font-weight: 800;
        text-transform: uppercase;
    }
    .title_bar{
        padding: 30px 0px;
    }
    .text{
       font-size: 16px; 
       line-height: 32px;
       font-weight: 400;
       padding: 0px 190px;
    }
}

// Buttons
.myBtn{
        background-color: rgb(207, 201, 29);
        width: 196px;
        height: 47px;
        text-align: center;
        line-height: 48px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 800;
        color: #000 !important;
        cursor: pointer;
        transition: all .3s linear;
        &:hover{
            transform: scale(.9);
            background-color: #02918c;
            color: #fff !important;
        }
}